/*----------------------------------------------
                                               -
JLin                                           -
                                               -
Date: 2021/03/17                               -
                                               -
update：2023/10/28                             -
                                               -
https://www.bsgun.cn 【写作不易】               -
                                               -
看见这个我希望你能够留下我信息                   -
                                               -
-----------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
}

a {
    text-decoration: none;
  	color: #a2b1cf;
}

.main {
    margin: 100px auto;
    text-align: center;
}

.main img {
    width: 100px;
    border-radius: 50%;
}

.love {
    margin-top: 50px;
}

.lovetime {
    font-size: 1.1rem;
    background: linear-gradient(to right, #f193a3,#16a8e4);
    -webkit-background-clip: text;
    color: transparent;
    padding: 0px 10px;
}

.twikoo {
    width: 50%;
    margin:auto;
}

.copyright {
    color: #ccc;
    margin: 10px 0 0;
    font-size: 11px;
}

.copyright img {
    position: relative;
    top: 5px;
}

footer a {
    font-size: 12px;
    color: #A6A6A6;
    margin: 0px 6px;
}

footer a:hover {
    color: #d2d2d2;
}

.footer-nav {
    text-align: center;
    margin-top: 90px;
}

.five-star {
    width: 48px;
    height: 30px;
    background-image: url(../img/5x.jpg);
    margin: 10px auto;
    background-size: cover;
}

@media screen and (max-width: 720px) {
    .twikoo {
        width: 95%!important;
    }
    .icp {
        display: block;
    }
}

@media (prefers-color-scheme:dark) {
    html {
        background-color: rgb(51,51,51)!important;
    }
  .twikoo {
        color: silver;
  }
  img {
    filter: brightness(70%) !important;
  }
  .OwO .OwO-body {
        background-color: #333!important;
  }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-image: linear-gradient(-225deg,#feb7ffba 0,#73fff1a6 100%)!important
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(-225deg,#fb00ffba 0,#00ffe5a6 100%)!important
}      
.twikoo .el-input__inner:focus, .twikoo .el-textarea__inner:focus {
    background-position-y: 500px;
    transition: all .35s ease-in-out .2s;
}
.tk-input .el-textarea__inner {
    min-height: 120px!important;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}
.tk-actions {
  	color: steelblue;
}
.tk-content {
	margin-bottom: 0.5rem;
    border: 1px dashed #999999;
    padding: 10px 15px;
    border-radius: 10px;
}
.tk-extras {
    font-size: 0.675rem!important;
}
  .OwO .OwO-body {
    color: #8f8f8f!important;
    border-radius: 10px!important;
}
.tk-login, .tk-regist {
    display: revert!important;
    flex-direction: column!important;
    align-items: center!important;
    width: unset!important;
    padding: 0 4rem!important;

}